<div class="cats-container">
  @for (cat of filteratedList; track $index) {
  <div class="card" style="width: 18rem;" appShadow>
    <div class="img-wrapper">
      <img [src]="cat.url" class="card-img-top" [alt]="cat.id" appZoom>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{cat.name}}</h5>
      <p class="card-text">
        {{ cat.expanded ? cat.description : (cat.description | wordslice:3) }}

        @if(!cat.expanded && cat.description.split(' ').length > 3){
          <span
          class="dots"
          (click)="toggleDescription(cat)">
          ...See more
        </span>
        }

        @if(cat.expanded){
          <span 
          class="dots"
          (click)="toggleDescription(cat)">
          ...See less
        </span>
        }
      </p>
      <button class="btn" [routerLink]="['/aboutcats', cat.catId]" >About Me</button>
    </div>
  </div>
  }
</div>

<br>

@if(!recievedId || recievedId === 'all'){
  <div class="text-center mt-3">

    @if(totalCatsCount() > initialLimit){
      <button class="btn btn-primary"
              (click)="toggleShow()">

        {{ showAll ? 'Show Less' : 'Show More' }}

      </button>
    }

  </div>
}

