#carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    overflow: hidden;
    margin-top: 50px;

}

.slider-button{
    border: none;
    background-color: rgb(16, 169, 230);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-image{
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

body{
    text-align: center;
}