<br>
<!-- <div class="select-wrap">
    <select class="form-select" [(ngModel)]="selectedBreedID">
        @for(breed of breeds ; track breed.id){
            <option [value]=breed.id>{{breed.name}}</option>
        }
    </select>
</div> -->
<br>
<div style="display: flex;justify-content: center;">
    <hr class="border border-warning border-2 opacity-50" style="width: 50%;">
</div>
<br>
<app-cats [recievedId]="selectedBreedID" (fees)="recievedPrice($event)"></app-cats>
<br>
<!-- <app-totalprice [totalPrice]="totalPrice"></app-totalprice> -->
<br>