#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 50px;
}


img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease;
}

button {
  font-size: 15px;
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  border: none;
  background: #1690dc;
  color: white;
  border-radius: 10%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}